/* Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

/* colors */
:root {
  --primaryColor: #f2ac20;
  --secondaryColor: #4265d6;
  --accentColor: #293855;
}

/* Global styling */
* {
  font-family: "Inter", sans-serif;
}

/* General styling  */

ul li {
  list-style-type: none;
}
display-1 {
  letter-spacing: 2px;
}

.container {
  max-width: 1200px;
}

.bg-main {
  background-color: var(--primaryColor);
}

.btn {
  width: 160px;
  padding: 0.6rem 0;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
}
header .btn {
  color: #fff;
}

.bg-second {
  background-color: var(--secondaryColor);
}

.circle-icon {
  width: 55px;
  height: 55px;
  border-radius: 55%;
  background-color: var(--primaryColor);
  -webkit-border-radius: 55%;
  -o-border-radius: 55%;
  -ms-border-radius: 55%;
  -moz-border-radius: 55%;
}

.lh-lg {
  line-height: 1.7 !important;
}

.btn-section {
  background-color: var(--primaryColor);
  color: #fff;
}

.btn-section:hover {
  color: var(--primaryColor);
  border-color: var(--primaryColor);
  background-color: #fff;
}

.text-section {
  color: var(--primaryColor);
}

i:hover {
  color: var(--accentColor);
}
/* HEADER */

header {
  height: 130vh;
}

.navbar-brand .fa {
  font-size: 1.8rem;
}
.nav-icons p {
  font-size: 1rem;
  margin-right: 0.6rem;
}
.nav-icons {
  font-size: 1.2rem;
}

.btn-header:hover {
  background-color: #fff;
  color: var(--primaryColor);
}

.phone-img img {
  width: 500px;
}

/* Section 6 */

#sec-6 {
  background: linear-gradient(rgba(242, 172, 32, 0.904), rgba(242, 172, 32, 0.904)),
    url(../assets/section-6-bg.jpg) center / cover no-repeat;
}

#sec-6 .circle-icon {
  width: 95px;
  height: 95px;
}
/* Section 7  */

#sec-7 .card {
  border: none;
}

/* Section 8  */

#sec-8 .carousel-item img {
  width: 180px;
}
